APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file


MANDRILL_HOST=smtp.mandrillapp.com
MANDRILL_PORT=587
MANDRILL_SMTP_USERNAME=example@example.com
MANDRILL_SMTP_PASSWORD=password
MANDRILL_SECRET=secret


TWITTER_CONSUMER_KEY=consumer-key
TWITTER_CONSUMER_SECRET=consumer-secret
TWITTER_ACCESS_TOKEN=access-token
TWITTER_ACCESS_TOKEN_SECRET=access-token-secret
